body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;

  background-color: #282c35;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#sidebar {
  background-color: #1a1c22;
  padding: 0.5rem;
  color: white;
  width: 4vw;
  min-width: none;
  height: -webkit-fill-available;

  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar img {
  width: 70%;
  height: auto;
  margin: 0;
}

#sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar a:not(:last-child) {
  margin-bottom: 2rem;
}

#sidebar #group-expenses-icon {
  opacity: 0.5;
}

#sidebar #group-expenses-icon:hover {
  opacity: 1;
}

#page-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.header {
  background-color: #1a1c22;
  padding: 1rem 2rem;
  color: white;
  width: -webkit-fill-available;

  font-weight: 500;

  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 1.75rem;
}

.indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  padding: 2rem 3rem;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #1a1c22;
  border-radius: 8px;
  width: 15vw;
  padding: 1rem 2rem;
}

.indicator h4 {
  margin-bottom: 0.5rem;
  color: #9e9e9e;
  font-weight: 400;
  font-size: 0.875rem;
}

.indicator p {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  padding: 1rem 3rem;
}

.box {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

.box h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.box ul li {
  font-size: 1rem;
  font-weight: 300;
}

.earnings {
  background-color: #196033;
}

.expenses {
  background-color: #5d1616;
}

.list {
  color: rgb(222, 222, 222);
  margin: 1rem;
}
