/* open modal button */
#open-modal-button {
  border: none;
  outline: none;
  background-color: #04aa6d;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 1rem;
  width: 60%;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.modal-header h3 {
  font-size: 16px;
  font-weight: 700;
  color: #525252;
}

/* The Close Button */
.modal-header img {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

.modal-header img:hover,
.modal-header img:focus {
  opacity: 1;
}

form {
  width: 90%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

label {
  color: #000;
  font-weight: 500;
}

/* Full-width input fields */
input[type='text'],
input[type='number'] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type='text']:focus,
input[type='number']:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

fieldset {
  border: none;
  color: #000;
  margin: 1rem 0;
}

fieldset legend {
  margin-bottom: 0.5rem;
}

/* Set a style for the submit/register button */
.add-new-financial-movement-button {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.add-new-financial-movement-button:hover {
  opacity: 0.85;
}
